*,
*::before,
*::after{
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}
a{
text-decoration: none;
}
ul,
ol,
li{
list-style: none;
}
img{
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-weight: inherit;
font-size: inherit;
}
body{
height: 100%;
line-height: 1;
font-size: 16px;
color:black;
}
.wrapper{
min-height: 100vh;
overflow: hidden;
display: flex;
flex-direction: column;
}
._container{
    max-width: 1000px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: border-box;
}
.header {
    position:relative;
    width: 100%;
    left: 0px;
    top:0px;
   
    /* z-index: 50; */
    }
    .header-container {
    display: flex;
    min-height: 50px;
    flex-direction: column;
   }
   .header-container{
       font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       font-weight: 600;
       font-size: 40px;
       color: palevioletred;
   }
.gameField{
    border: 2px solid dimgray;
    border-radius: 5px;
    background-color: lightgray;
    max-width: 420px;
    max-height: 420px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    }
    .game-container{
        flex-grow: 1;
    }
.__scuare{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: pink;
    border: 2px solid palevioletred;
    box-sizing: border-box;
   margin: 2px;
   font-size: 80px;
   font-weight: bolder;
   color: rgb(211, 56, 107);
   display: flex;
   align-items: center;
   justify-content: center;

}
.scuare-active{
    border: 3px solid rgb(211, 56, 107);;
    background-color: rgb(252, 208, 215);
}
@font-face {
    font-family: "Greek";
    src: url("/OpenServer/domains/FrezerMouse/fonts/DalekPinpointBold-lr3e.ttf");
}
.__footer{
    flex-shrink: 0;
    background-color: #252B42;
     font-family: "Greek", "Arial", sans-serif;
    font-size: 18px;
    color: brown;
    text-align: center;
    width: 100%;
    padding: 5px 0;
   }