<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>2048</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-container _container">
          <div class="header-static">
            <div class="__title">
              <h1>2048</h1>
            </div>
          </div>
          <div class="header-currentU">
            <div class="__curUserBlock">
             <h1 id="curUser">{{curName}}</h1>
            </div>
            <span>Max score: </span><strong id="maxScore"></strong>
            <span>Max score ever: </span><strong id="maxScoreEver" ></strong>
          </div>
          <div class="header-registr">
            <form action="" class="registrationUser" name="registerForm">
              <div class="__inputBlock">
                <label for="user">User</label>
                <input class="__inputFields" type="text" name="name" value="iii"/>
                <label for="pass">Password</label>
                <input class="__inputFields" type="text" name="pass" value="aaa"/>
              </div>
              <div class="__buttonBlock">
                <button type="submit" class="registr" id="registration">Регистрация</button>
                <button type="submit" class="enter" id="entry">Вход</button>
              </div>
            </form>
          </div>
        </div>
      </header>
      <main class="game">
        <div class="game-container _container">
          <div class="gameField">
          </div >
          <div class="__buttonBlock">
            <button  class="undo" id="undo">Отмена</button>
            <button  class="save" id="save">Сохранить</button>

          </div>
        </div>
      </main>

      <footer class="__footer">
        <p>by Hydropes</p>
        <p>2022</p>
      </footer>
    </div>
      <script type="module" src="../js/app.js"></script> 
  </body>
</html>
